footer {
    display: flex;
    justify-content: space-between;
}
.footer-logo {
    padding: 20px;
    padding-bottom: 0;
    width: 200px;
}

.footer-socmed img {
    width: 12px;
    margin: 0 6px;
}
.footer-nav {
    display: flex;
    padding: 20px;
}
.footer-nav p {
    margin: 8px 0;
    font-weight: bold;
}
.footer-content {
    margin: 0px 24px;
}
.footer-lang {
    display: flex;
    align-items: center;
    margin: 8px 0px;
}
.footer-lang img {
    height: 15px;
    margin-right: 6px;
}
.footer-lang p {
    margin: 0;
}
#copyright {
    text-align: right;
    margin-right: 20px;
}
