nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    margin:5px 20px;
}
.nav-bar {
    display: flex;
    align-items: center;
    margin: 0px 20px;
}
.hamburger {
    display: none;
}
.hidden-search {
    display: none;
}
.nav-content {
    margin: 0px 40px;
    position: relative;
    display: flex;
}
.nav-content a {
    text-decoration: none;
    color: inherit;
}
.nav-content:hover {
    color: #4BCCC4;
}
.arrow {
    transform: rotate(-90deg);
    display: inline;
    margin: 0;
    padding: 0;
    position: relative;
    right: -40px;
    
}
.search-bar button {
    margin: 0 1rem;
    padding: 0.8rem;
    background: linear-gradient(135deg, #4BCCC4 0%, #4CC6CB 33.57%, #4EB9DA 100%), #C4C4C4;
    border-radius: 0.5rem;
    border:none
}
.search-bar button:hover {
    background: #4EB9DA;
    cursor: pointer;
}
.search-bar button:hover > .fa{
    color: lightgray;
}
.fa {
    color: white;
}

@media screen AND (max-width: 1063px) {
    nav {
        position: relative;
        font-size: 16px;
    }
    .nav-bar, .search-bar {
        position: absolute;
        display: none;
    }
    .nav-bar {
        display: block;
        border-radius: 8px;
        background-color: white;
        bottom: -260px;
        left: 50%;
        transform: translate(-50%,0);
        z-index: 900;
        width: 90%;
        margin: 0;
    }

    .hamburger {
        display: block;
    }
    .hamburger button {
        margin: 0 1rem;
        padding: 0.8rem;
        background: linear-gradient(135deg, #4BCCC4 0%, #4CC6CB 33.57%, #4EB9DA 100%), #C4C4C4;
        border-radius: 0.5rem;
        border:none
    }
    .hamburger button:hover {
        background: #4EB9DA;
        cursor: pointer;
    }
    .hamburger button:hover > .fa{
        color: lightgray;
    }
    .hidden-search {
        margin: 1rem 0 0 0.1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    .hidden-search input {
        border-radius: 0.3rem 0 0 0.3rem;
        font-size: 15px;
        border: 1px solid #4BCCC4;
        width: 90%;
    }
    .hidden-search button {
        margin: 0 ;
        padding: 0.5rem;
        background: linear-gradient(135deg, #4BCCC4 0%, #4CC6CB 33.57%, #4EB9DA 100%), #C4C4C4;
        border-radius: 0 0.5rem 0.5rem 0;
        border:none;
        font-size: 0.5rem;
    }
    .hidden-search button:hover {
        background: #4EB9DA;
        cursor: pointer;
    }
    .hidden-search button:hover > .fa{
        color: lightgray;
    }
    
}