@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import "./nav.css";
@import "./hero.css";
@import "./events-card.css";
@import "./footer.css";
*{
    font-family: 'DM Sans', sans-serif;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: inherit;
}
